/* app main centent */
.app-content {
  /* min-height: 100vh; */
  padding-top: 20px;
  margin-bottom: 20px
}

/* booking page */
.price-card {
  position: sticky !important;
  top: 0 !important;
  margin-left: 5px;
  width: 32%;
}

.btn-bookNow {
  background-color: #2db92d;
  width: 103.5%;
  margin-bottom: 20px;
  margin-left: -10px;
}

#form-header {
  margin-left: 11.25px
}

/* Checklist page */
.cardLists ul li {
  margin-left: 30px;
  display: list-item !important;
  list-style-type: disc !important;
}

.cardLists {
  margin-bottom: -5px;
  border-bottom: 2px solid lightgray
}

.cardLists h5{
  padding: 5px;
  margin: 0px -12px 0px -12px;
  background: lightgray;
  text-align: center
}

.float-right {
  float: right
}

.float-left {
  float: left
}

/* estimate card */
#estimate {
  text-align: center;
}

#total {
  padding-top: 10px;
  border-top: 1px solid gray;
}

#price {
  float: right;
}