.page-footer {
    position: sticky;
    bottom: 0;
    background-color: #2db92d;
    padding-top: 0px
  }

  .footer-row {
    margin-bottom: 0px
  }

.footer-copyright {
    background-color: #28a428
}